<header class="header">
  <div class="container">
    <nav class="main-nav">
      <img src="./images/header/logo.png" alt="Tomato" />
      <a class="nav-logo" href="./index.html">
        <span>Cucina</span>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="">Store</a>
        </li>
        <li class="nav-item">
          <a href="">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="">Gallery</a>
        </li>
      </ul>
      <button class="nav-btn btn" type="button">Contact us</button>
    </nav>
  </div>
</header>
